<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
  <style>
    body {
      background-color: skyblue;
      color: red;
      font-family: Arial, sans-serif;
      background-image: url('https://upload.wikimedia.org/wikipedia/en/0/0c/The_Genie_Aladdin.png');
      background-repeat: no-repeat;
      background-attachment: center;
      background-size: 70%; 
      margin-left: 40%;
      margin-right: 30%;
      text-align: center; 
    }

    h1 {
      margin-top: 80px; 
    }
  </style>
</head>
<body>
  <h1>Fortune Telling</h1>

  <h1>Welcome, {{ username }}!</h1>
  <a href="/fortune">View Your Fortune</a>
</body>
</html>
