<!DOCTYPE html>
<html>
<head>
  <title>Your Fortune</title>
  <style>
    body {
      background-color: skyblue;
      color: red;
      text-shadow: darkred;
      font-family: Arial, sans-serif;
    }
    .fortune-form {
      margin-top: 20px; 
    }
    h1 {
    color: white;
    text-shadow: 2px 2px darkblue;
    }
    p {
    color: white;
    text-shadow: 2px 2px darkblue;
    }
  </style>
</head>
<body>
  <h1>Your Fortune according to your month:</h1>
  <p>{{ fortune }} </p>
</body>
</html>
